on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.py"
  workflow_dispatch:


jobs:
  hello_world:
    name: "Status"
    runs-on: ubuntu-latest
    steps:
      - name: Initialising
        run: echo "Initialising"

  testing:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt install libcairo2-dev pkg-config python3-dev

      - name: Install requirements
        run: |
          for req in $(find . -name requirements.txt); do
            echo "Installing $req"
            pip install -r "$req"
          done
          pip install pytest

      - name: Run tests
        run: pytest

  pylinting:
    name: "Run Pylint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt install libcairo2-dev pkg-config python3-dev

      - name: Install requirements
        run: |
          for req in $(find . -name requirements.txt); do
            echo "Installing $req"
            pip install -r "$req"
          done
          pip install pylint

      - name: Run Pylint
        run: pylint --fail-under=8 .
